<ion-view view-title="Ediciones">
  <ion-content>
    <div class="list card">

	  <div class="item item-avatar">
	  <img src="img/vf.png">
	    <h2>Vanity Fair Abril 2015</h2>
	    <p>Margeritha Buy, Brad Pitt, Alejandro Gassman</p>
	  </div>

	  <div class="item item-image">
	    <a href="#/app/playlists/3" ng-click="leerEjemplar(3)"><img src="img/abril.jpg"></a>
	  </div>

	  <a class="item item-icon-left assertive" href="#/app/playlists/3" ng-click="leerEjemplar(3)">
	    <i class="icon ion-coffee"></i>
	    Leer Ejemplar
	  </a>

	</div>
    <div class="list card" ng-click="leerEjemplar(2)">

	  <div class="item item-avatar">
	  <img src="img/vf.png">
	    <h2>Vanity Fair Marzo 2015</h2>
	    <p>Jennifer Lawrence, Andrea Faustini, Mr. Big</p>
	  </div>

	  <div class="item item-image">
	    <img src="img/marzo.jpg">
	  </div>

	  <a class="item item-icon-left assertive" href="javascript:void(0)">
	    <i class="icon ion-coffee"></i>
	    Leer Ejemplar
	  </a>

	</div>
    <div class="list card">

	  <div class="item item-avatar">
	  <img src="img/vf.png">
	    <h2>Vanity Fair Febrero 2015</h2>
	    <p>Eva, Jennifer Lawrence, Tips & Tricks</p>
	  </div>

	  <div class="item item-image">
	    <img src="img/febrero.jpg">
	  </div>

	  <a class="item item-icon-left assertive" href="javascript:void(0)">
	    <i class="icon ion-coffee"></i>
	    Leer Ejemplar
	  </a>

	</div>
  </ion-content>
</ion-view>
